@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}

.headerPage {
    display: flex;
    justify-content: space-around;
    font-family: "Archivo Black", sans-serif;
    background: #cac9c9;
    padding: 20px 0;
}   

nav{
    display: flex;
    align-items: center;
}

.btnNav {
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-align: center;
    width: 100px;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    a{
      text-decoration: none;
      color: #000;
    }
}

.btnNav:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btnNav:active {
  transform: translateY(-1px);
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito{
    font-size: 25px;
    
}
.carrito:hover {
  color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-3px);
}